.input_wrapper {
  display: flex;
  flex-direction: column;
  gap: 6px;
  width: 100%;
}

.input_label {
  font-size: 14px;
  font-weight: 600;
  color: #8f8383;
}

.login_form_title {
  font-size: 24px;
  font-weight: 700;
  color: #5f5a5a;
  margin-bottom: 20px;
}

