.homework03_wrapper {
  display: flex;
  flex: 1;
  width: 100%;
  height: 100vh;
  align-items: center;
  padding: 20px;
  gap: 40px;
  justify-content: center;
  box-sizing: border-box;
  background-color: rgb(255, 255, 255);
}
