.button_component {
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  border-radius: 10px;
  border: none;
  padding: 12px, 25px;
  height: 40px;
  width: 100%;
  background-color:blue;
  color: white;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

