.card {
  display: flex;
  flex-direction: column;
  width: 400px;
  min-height: 300px;
  max-height: fit-content;
  border: 1px solid black;
  border-radius: 6px;
  padding: 30px;
  color: black;
  background-color: white;
  gap: 30px;
}

.avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  align-self: center;
}

.card_info {
  color: black;
  font-size: 24px;
}

.info_title {
  font-weight: bold;
}

