.login_form_wrapper {
  width: 400px;
  background: #ffffff;
  padding: 28px 32px;
  border-radius: 14px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.login_form {
  display: flex;
  flex-direction: column;
  gap: 18px;

  
}

