.homework02_page_wrapper {
  display: flex;
  flex: 1;
  padding: 30px;
  gap: 40px;
  justify-content: center;
  background-color: rgb(31, 31, 197);
}
.homework02_page_wrapper .card {
  box-shadow: 0 4px 8px 0 rgba(188, 91, 91, 0.2);
  transition: 0.8s;
}